.burger-item-description__mini-title {
  @include reset;
  margin-bottom: 9px;
  color: $red;
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
}

.burger-item-description__description {
  @include reset;
  margin-bottom: 12px;
  color: $black;
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
}

.burger-item-description__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burger-item-description__price {
  color: $black;
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
}
