.controls-list {
  @include reset;
  padding-top: 12px;
  list-style: none;
  width: 255px;
  display: flex;
  justify-content: flex-end;

  &--fixed .control-list__item:nth-of-type(odd) {
    display: none;
  }
}

.control-list__item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 32px;
}

.controls-list__link {
  color: $black;
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;

  &:hover,
  &:focus {
    color: $red;
  }

  &--geo {
    padding-right: 3px;
  }

  &--geo svg {
    margin-right: 5px;
    stroke: $black;
  }

  &--geo:hover svg {
    stroke: $red;
  }
}

.controls-list__icon-wrapper svg {
  fill: $black;
}

.controls-list__icon-wrapper:hover svg {
  fill: $white;
}

.controls-list__icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
  position: relative;

  &:hover::after,
  &:focus::after {
    position: absolute;
    content: "";
    width: 46px;
    height: 46px;
    background-color: $red;
    border-radius: 50%;
    z-index: -1;
  }

  &--active::after {
    position: absolute;
    content: "";
    width: 46px;
    height: 46px;
    background-color: $red;
    border-radius: 50%;
    z-index: -1;
  }

  &--active svg {
    fill: $white;
  }
}
