.forward-to-item {
  width: 58px;
  height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: $red;

  &:hover,
  &:focus {
    opacity: 0.7;
  }
}

.forward-to-item svg {
  stroke: $white;
}

