.main-nav {
  display: grid;
  grid-template-columns: 364px 923px;
  padding-left: 40px;
}

.main-nav__tel {
  padding-top: 31px;
}

.main-nav__inner {

  padding-top: 15px;
  padding-bottom: 26px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $gray;
}

.main-nav__main-logo {
  padding-top: 44px;
}

.main-nav__categories {
  @include reset;
  padding-top: 44px;
  padding-right: 416px;
}

.main-nav__order-project {
  padding-top: 40px;
  padding-left: 18px;
}

.main-nav__types {
  @include reset;
  list-style: none;
  width: 923px;
  padding-top: 37px;
}
