.main-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 40px;
}

.main-nav__tel {
  padding-top: 31px;
}

.main-nav__inner {
  width: 923px;
  padding-top: 16px;
  padding-bottom: 29px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $gray;
}
