.order-project {
  width: 179px;
  display: block;
  text-align: center;
  padding: 12px;
  color: $red;
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  border: 2px solid $red;
  border-radius: 33px;
  transition: 0.2s;

  &:hover,
  &:focus {
    background-color: $red;
    color: $white;
  }

  &:active {
    opacity: 0.7;
  }
}
