// colors
$white: #ffffff;
$black: #000000;
$black-additional: #272222;
$gray-light: rgba(0, 0, 0, 0.3);
$gray: rgba(0, 0, 0, 0.15);
$red: #ce3730;
$red-light: rgba(206, 55, 48, 1);

//scaling
$content-width: 1680px;
